<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="Log\internal-nlog.log">
  <targets>
    <target xsi:type="File" name="allfile" fileName="${basedir}\Log\${date:format=yyyyMM}\${shortdate}-${level}-all.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}${newline}${message} ${exception:format=tostring}${newline}" />
    <target name="console" xsi:type="Console" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="allfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>